@media (min-width: 945px) and (max-width: 1245px) {
  .nav__container {
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
  }

  .main__page__photo {
    margin-top: 40px;
  }

  .link__style__tg.__active {
    display: block;
    z-index: 4;
  }

  .main__page__kalenskiy {
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
  }

  .main__page__right__side__photo {
    width: 540px;
  }
  .main__page__left__side__photo__family {
    width: 450px;
  }

  .main__page__left__side {
    margin-bottom: 52px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__page__right__side__family {
    margin-left: 40px;
    width: 100%;
  }

  .box__wrapper {
    height: 284px;
    width: 539px;
    padding: 30px 56px;
    margin-top: -70px;
    margin-left: 1px;
  }

  .main__page__services__cantainer {
    margin-top: 252px;
  }

  .main__page__services__wrapper {
    flex-basis: 100%;
    padding: 0 8px;
    margin-bottom: 52px;
  }

  .main__page__services__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 26px;
    color: #55565b;
  }

  .main__page__services__block {
    flex-basis: 50%;
    padding: 0 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.45;
    font-weight: 400;
    color: #55565b;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .flex__footer {
    display: flex;
    color: white;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
  }

  .footer__text {
    color: white;
    line-height: 30px;
    color: #f0f3fb;
    font-weight: normal;
    font-size: 24px;
    margin: 40px;
    font-family: "Montserrat", sans-serif;
  }

  .flex__footer .footer__text__left li {
    margin: 0 60px 5px 0;
    list-style: none;
  }

  .footer__text__right li {
    margin-bottom: 20px;
    list-style: none;
  }

  .breadcrumbs {
    list-style: none;
    padding: 25px 8px 25px 8px;
    max-width: 1252px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .breadcrumbs__row {
    color: #fff;
  }

  .breadcrumbs__row__main {
    color: #a6a6a6;
  }

  .btn__text {
    font-family: "Montserrat", sans-serif;
  }

  .family__text {
    padding: 0px 8px 0px 8px;
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    margin-bottom: 200px;
    text-align: justify;
  }

  .family__text h4 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    font-family: "Lato";
    margin-bottom: 30px;
  }

  .family__text p {
    font-size: 16px;
    color: #181818;
    margin-bottom: 30px;
    font-family: "Lato";
  }

  .family__text p,
  li {
    font-size: 16px;
    font-family: "Lato";
  }

  .heading__text__family {
    letter-spacing: 0;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: "Bellefair";
    color: #1a243f;
    text-transform: uppercase;
    font-size: 40px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    max-width: 568px;
  }

  .heading__text__family.hidden {
    opacity: 0;
  }

  .heading__more__family {
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 300px;
    display: flex;
    flex-direction: column;
  }

  .text-right-btn__main__page:hover {
    background-color: #8c7156;
  }

  .btn__main__page:hover {
    background-color: #8c7156;
  }

  .discount__zsy {
    margin-top: 40px;
    margin-left: 24px;
    position: absolute;
    color: white;
    font-size: 34px;
  }

  .btn__main__page__discount {
    margin-top: 100px;
    margin-left: 26px;
    background: #8c7156;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
  }

  /* // 

  BURGER MENU 

  //  */

  .menu__icon {
    display: none;
    visibility: hidden;
  }

  body.__lock {
    overflow: hidden;
  }

  .small__btns {
    display: none;
  }

  .discount__family__img {
    width: 420px;
  }

  .welcome-sec {
    margin-top: -3px;
    position: relative;
  }

  .women__child__box__img {
    width: 90%;
    display: flex;
    margin-left: -100px;
    margin-top: -100px;
  }

  .women__child__box {
    display: flex;
    padding: 0 8px;
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
  }

  .discount__family {
    position: relative;
    width: 568px;
    height: 238px;
  }

  .women__child {
    display: none;
  }

  .women__child__small {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .women__child__text {
    background: #fff;
    padding: 110px 50px 110px 0;
    position: relative;
    z-index: 2;
    width: 70%;
    padding-left: 5%;
  }

  .women__child__text h4 {
    color: #1a243f;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-size: 36px;
    font-family: "Bellefair";
    text-align: center;
  }

  .women__child__text p {
    text-align: justify;
    width: 100%;
  }

  .practice-area {
    position: relative;
    padding-top: 0;
    margin-top: 100px;
  }

  .practice-box {
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
  }

  .box-row {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 8px;
    position: relative;
  }

  .box-row p {
    margin: 0 0 20px;
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .box-row h2 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Bellefair";
  }

  .box-row span {
    font-size: 16px;
    color: #181818;
    font-family: "Lato";
    margin: 0 0 30px;
  }

  .box-col {
    display: flex;
    flex-wrap: wrap;
    max-width: 1252px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .box-col-content {
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 15px;
  }

  .icon-row {
    display: flex;
    width: calc(100% - 1.8em);
    margin-left: 1.8em;
    align-items: center;
    gap: 20px;
    background: #353535;
    margin-top: -60px;
    position: absolute;
  }

  .icon-row span a {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    font-family: "Bellefair";
    font-size: 23px;
  }

  .xicon {
    width: 60px;
    height: 60px;
    z-index: 1;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    justify-content: center;
  }

  .icon-row span a:hover {
    color: #8c7156;
  }

  .xicon-top {
    z-index: 1;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
  }

  .icons {
    color: #fff;
    font-size: 30px;
  }

  .icons-top {
    color: #fff;
    font-size: 60px;
  }

  .img-box {
    position: relative;
  }

  .img-box::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #1a243f;
    opacity: 0.2;
  }

  .default_btn {
    position: absolute;
    right: 14px;
    top: 70px;
  }

  .container-cases {
    max-width: 1252px;
    width: 100%;
    margin: auto;
    padding: 0px 8px 0px 8px;
  }

  .container-cases-row-heading p {
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .container-cases-row-heading h4 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 20px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .container-cases-row-call {
    display: flex;
    margin: 0 0 30px;
    width: max-content;
  }

  .pe-7s-call {
    color: #ffffff;
    padding: 0.7em 0.8em;
    box-shadow: 0 0 0 3em #8c7156 inset;
    background-color: transparent;
    font-size: 30px;
  }

  .container-cases-row-call a {
    color: #353535;
    box-shadow: 0 0 0 1px #8c7156 inset;
    padding: 1.7em 1.7em;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }

  .container-cases-row-call a:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 3em #8c7156 inset;
  }

  .sec-row-text {
    background: none;
    padding-bottom: 0;
    padding-right: 0;
    width: 55%;
    padding-left: 0%;
    padding-top: 170px;
    position: relative;
    z-index: 2;
    text-align: right;
  }

  .testimonial_box {
    text-align: right;
    border-top: 0;
    padding: 150px 0px 100px 0;
    position: relative;
    background: #fff;
    padding-left: 10%;
  }

  .sec-row-counter-box {
    background: #121212;
    width: 55%;
    display: flex;
    margin-left: -100px;
    margin-top: 0px;
    align-items: center;
    padding-left: 100px;
  }

  .xicon-bot {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0;
  }

  .owl-carousel {
    text-align: right;
    width: 100%;
    z-index: 1;
  }

  .owl-carousel-container {
    padding-left: 50px;
    padding-right: 20px;
    position: relative;
  }

  .owl-carousel-container span {
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .owl-carousel-container h4 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .client-id p {
    text-align: center;
  }

  .carousel-container-text {
    font-family: "Lato";
    color: #1a243f;
    margin: 0 auto 40px;
    font-size: 16px;
    width: 100%;
    font-weight: normal;
    position: relative;
    text-align: justify;
    line-height: 1.6;
  }

  .owl-dots {
    position: absolute;
    top: 15%;
    left: 0%;
    margin: 30px 0 0;
  }

  .owl-dots label {
    padding: 5px;
    cursor: pointer;
    display: flex;
  }

  .owl-dots button {
    height: 30px;
    width: 3px;
    border-radius: 5px;
    background: #181818;
    display: block;
    color: black;
    border: none;
    cursor: pointer;
    transition: opacity 1.8s;
  }

  .owl-dots button.active {
    background: #8c7156;
  }

  .owl-slide {
    display: none;
    transition: opacity 1.8s;
    /* height: 290px; */
  }

  .visible {
    display: block;
  }

  .contact-sec {
    position: relative;
  }

  .contact-img-box {
    height: 549px;
    margin-left: 0;
    width: 60%;
    margin-top: 0;
    margin-right: -100px;
    display: flex;
  }

  .contact-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
  }

  .contact-img-text {
    position: relative;
    z-index: 2;
    width: 70%;
    padding: 100px 0px 0px 0;
  }

  .inquiries_form {
    padding: 180px 50px 50px;
    margin: 0;
    position: relative;
    background: #fff;
    text-align: left;
  }

  .pe-7s-note {
    font-size: 64px;
    color: #fff;
  }

  .contact-xicon {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    text-align: left;
  }

  .contact-area-heading {
    margin: 0 0 30px;
  }

  .h5 {
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
  }

  .contact-area-heading p {
    font-size: 23px;
    font-family: "Playfair Display";
    color: #181818;
    text-align: justify;
    line-height: 1.6;
    margin: 0 0 20px;
  }

  .homeAbout-sec {
    background: url("IMG/media/background_02-1.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 100px 0;
  }

  .homeAbout-container {
    max-width: 1252px;
    width: 100%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }

  .homeAbout-heading h2 {
    position: relative;
    font-size: 45px;
    z-index: 1;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .default_btn_homeAbout a {
    background: none;
    padding-right: 70px;
    color: #8c7156;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Lato";
    transition: 0.4s 0.3s ease-in-out;
    font-weight: 500;
    position: relative;
    padding-left: 70px;
    &:hover {
      &:before {
        width: 0;
      }
      &:after {
        width: 0;
      }
    }
  }

  .default_btn_homeAbout a::before {
    position: absolute;
    content: "";
    max-width: 60px;
    width: 100%;
    height: 2px;
    left: 0;
    top: 10px;
    background: #8c7156;
    display: block;
    pointer-events: none;
    transform-origin: right;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
  }

  .default_btn_homeAbout a::after {
    position: absolute;
    content: "";
    max-width: 60px;
    width: 100%;
    height: 2px;
    right: 0;
    top: 10px;
    background: #8c7156;
    display: block;
    pointer-events: none;
    transform-origin: right;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
  }

  .homeAbout-heading {
    margin: 0 0 30px;
  }

  .homeAbout-row::after {
    clear: both;
  }

  .manual__hide {
    display: none;
    opacity: 0;
    transition: opacity 1s;
  }

  .frm_btn {
    text-align: justify;
    line-height: 1.6;
    padding-top: 20px;
  }

  .xopen {
    background: #1a243f;
    padding: 11px 17px;
    color: #fff;
    text-transform: uppercase;
  }

  .text__content {
    list-style-type: disc;
    line-height: 1.6;
    margin: 10px 0 20px 20px;
  }

  .tel__number {
    text-decoration: none;
    color: #8c7156;
  }

  .col-md-4 {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
  }

  /* /////// DIVORCE //////// */

  .text-banner {
    position: relative;
    padding: 170px 0 50px;
  }

  .text-banner-container {
    width: 100%;
    margin: auto;
    padding: 0 8px;
    max-width: 1252px;
  }

  .text-banner-row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .text-banner-col-md-12 {
    width: 100%;
  }

  .text-right {
    margin: 0 0 30px;
    text-align: right;
  }

  .text-banner h2 {
    color: #8c7156;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Bellefair";
    font-weight: 400;
  }

  .text-right-frm_btn {
    padding-top: 20px;
  }

  .text-right-btn__main__page {
    background: #1a243f;
    padding: 11px 17px;
    color: #fff;
    text-transform: uppercase;
  }

  .breadcrumbs__container {
    background: #1a243f;
    display: flex;
    align-items: center;
  }

  .practice-sec {
    position: relative;
    padding-top: 100px;
    margin-top: 16px;
  }

  .practice-list {
    padding-top: 140px;
    padding-left: 12%;
    width: 100%;
    padding-right: 125px;
  }

  .practice-list h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-family: "Bellefair";
  }

  .practice-sec-heading {
    text-align: center;
  }

  .practice-sec-text ul {
    list-style-type: disc;
    line-height: 1.6;
    margin: 10px 0 20px 20px;
  }

  /* ///////////////////// ? */

  .owl-dots-divorce {
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .owl-slide-divorce {
    display: none;
    transition: opacity 1.8s;
    height: 290px;
  }

  .text-left-bot {
    margin: 0 0 30px;
    text-align: left;
  }

  .practicewrap {
    margin-right: -100px;
    margin-left: 0;
    margin-top: -100px;
    width: 100%;
    display: flex;
    background: #353535;
    height: auto;
  }

  .practice-sec-text {
    text-align: left;
    padding-top: 125px;
    background: #fff;
    padding: 170px 50px 70px 0;
    position: relative;
    z-index: 2;
    width: 100%;
    padding-left: 5%;
  }

  .practice-sec-xicon {
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    position: relative;
    top: 0px;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  .controlers-container {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .text-left {
    padding: 170px 50px;
  }

  .img-box-culture {
    width: 100%;
    display: flex;
    text-align: left;
  }

  .smaller {
    display: flex;
    flex-direction: column-reverse;
  }

  .xicon-text-left {
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    position: relative;
    top: 0px;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  .textImg-sec {
    position: relative;
    text-align: left;
  }

  .block {
    display: block;
  }
}
