@media (min-width: 1245px) {
  .nav__container {
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
  }

  .main__page__photo {
    margin-top: 40px;
  }

  .link__style__tg {
    position: absolute;
  }

  .main__page__kalenskiy {
    margin-top: 200px;
  }

  .main__page__right__side__photo {
    width: 540px;
  }
  .main__page__left__side__photo__family {
    width: 540px;
  }

  .main__page__left__side {
    /* margin-right: 100px; */
    padding: 0 8px;
  }

  .main__page__right__side__family {
    margin-left: 110px;
  }

  .main__page__left__side__article {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2a2c32;
  }

  .main__page__left__side__text {
    max-width: 447px;
    text-align: left;
  }

  .box__wrapper {
    height: 284px;
    width: 477px;
    padding: 30px 56px;
    margin-top: -130px;
    margin-left: -230px;
  }

  .main__page__services__cantainer {
    margin-top: 200px;
  }

  .main__page__services__wrapper {
    flex-basis: 60%;
    padding: 0 8px;
  }

  .main__page__services__text {
    max-width: 516px;
  }

  .btn__more::before {
    top: 8px;
  }

  .main__page__services__block {
    flex-basis: 20% !important;
  }

  .button__head {
    justify-content: center;
  }

  .flex__footer {
    display: flex;
    color: white;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
  }

  .footer__text {
    color: white;
    line-height: 30px;
    color: #f0f3fb;
    font-weight: normal;
    font-size: 24px;
    margin: 40px;
    font-family: "Montserrat", sans-serif;
  }

  .flex__footer .footer__text__left li {
    margin: 0 60px 5px 0;
    list-style: none;
  }

  .footer__text__right li {
    margin-bottom: 20px;
    list-style: none;
  }

  .family__text {
    padding: 0px 8px 0px 8px;
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    margin-bottom: 200px;
  }

  .family__text h4 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    font-family: "Lato";
    margin-bottom: 30px;
  }

  .family__text p {
    font-size: 16px;
    color: #181818;
    margin-bottom: 30px;
    font-family: "Lato";
  }

  .family__text p,
  li {
    font-size: 16px;
    font-family: "Lato";
  }

  .heading__text__family {
    letter-spacing: 0;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: "Playfair Display";
    color: #1a243f;
    text-transform: uppercase;
    font-size: 50px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    width: 568px;
  }

  .heading__text__family.hidden {
    opacity: 0;
  }

  .heading__more__family {
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 568px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }

  .discount__zsy {
    margin-top: 60px;
    margin-left: 24px;
    position: absolute;
    color: white;
    font-size: 40px;
  }

  .btn__main__page__discount {
    margin-top: 120px;
    margin-left: 42px;
    background: #8c7156;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
  }

  .menu__icon {
    display: none !important;
    visibility: hidden !important;
  }

  .small__btns {
    display: none;
  }

  .welcome-sec {
    margin-top: -3px;
    position: relative;
  }

  .women__child__box__img {
    /* width: 61.8%; */
    display: flex;
    margin-left: -100px;
    margin-top: -100px;
  }

  .women__child__box {
    display: flex;
    padding: 0 8px;
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
  }

  .discount__family {
    position: relative;
    width: 568px;
    height: 238px;
  }

  .women__child {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .women__child__text {
    background: #fff;
    padding: 110px 50px 110px 0;
    position: relative;
    z-index: 2;
    width: 70%;
    padding-left: 5%;
  }

  .women__child__text h4 {
    color: #1a243f;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-size: 36px;
    font-family: "Playfair Display";
    text-align: center;
  }

  .women__child__text p {
    text-align: justify;
    width: 100%;
  }

  .practice-area {
    position: relative;
    padding-top: 0;
    margin-top: 200px;
  }

  .practice-box {
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
  }

  .box-row h2 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .box-col-content {
    width: 33.3333333333%;
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 15px;
  }

  .icon-row {
    display: flex;
    width: calc(100% - 1.8em);
    margin-left: 1.8em;
    align-items: center;
    gap: 20px;
    background: #353535;
    margin-top: -60px;
    position: absolute;
  }

  .icon-row span a {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    font-family: "Playfair Display";
    font-size: 23px;
  }

  .xicon-top {
    z-index: 1;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
  }

  .default_btn {
    right: 14px;
    top: 70px;
    position: absolute;
  }

  .women__child__small {
    display: none;
  }
  /* // */

  .container-cases {
    max-width: 1252px;
    width: 100%;
    margin: auto;
    padding: 0px 8px 0px 8px;
  }

  .container-cases-row-heading h4 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 20px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .container-cases-row-call {
    display: flex;
    margin: 0 0 30px;
    width: max-content;
  }

  .sec-row {
    display: flex;
  }

  .sec-row-text {
    background: none;
    padding-bottom: 0;
    padding-right: 0;
    width: 55%;
    padding-left: 0%;
    padding-top: 170px;
    position: relative;
    z-index: 2;
    text-align: right;
  }

  .testimonial_box {
    text-align: right;
    border-top: 0;
    padding: 150px 0px 100px 0;
    position: relative;
    background: #fff;
    padding-left: 10%;
  }

  .sec-row-counter-box {
    background: #121212;
    width: 55%;
    display: flex;
    margin-left: -100px;
    margin-top: 0px;
    align-items: center;
    padding-left: 100px;
  }

  .xicon-bot {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0;
  }

  .owl-carousel {
    text-align: right;
    width: 100%;
    z-index: 1;
  }

  .owl-carousel-container {
    padding-left: 50px;
    padding-right: 20px;
    position: relative;
  }

  .client-id p {
    text-align: right;
  }

  .carousel-container-text {
    font-family: "Lato";
    color: #1a243f;
    margin: 0 auto 40px;
    font-size: 16px;
    width: 100%;
    font-weight: normal;
    position: relative;
    text-align: justify;
    line-height: 1.6;
  }

  .owl-dots {
    position: absolute;
    top: 15%;
    left: 0%;
    margin: 30px 0 0;
  }

  .owl-dots label {
    padding: 5px;
    cursor: pointer;
    display: flex;
  }

  .owl-dots button {
    height: 30px;
    width: 3px;
    border-radius: 5px;
    background: #181818;
    display: block;
    color: black;
    border: none;
    cursor: pointer;
    transition: opacity 1.8s;
  }

  .owl-slide {
    height: 290px;
  }

  .contact-sec {
    position: relative;
  }

  .contact-img-box {
    height: 549px;
    margin-left: 0;
    width: 60%;
    margin-top: 0;
    margin-right: -100px;
    display: flex;
  }

  .contact-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
  }

  .contact-img-text {
    position: relative;
    z-index: 2;
    width: 70%;
    padding: 100px 0px 0px 0;
  }

  .inquiries_form {
    padding: 180px 50px 50px;
    margin: 0;
    position: relative;
    background: #fff;
    text-align: left;
  }

  .contact-xicon {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    text-align: left;
  }

  .contact-area-heading {
    margin: 0 0 30px;
  }

  .h5 {
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
  }

  .contact-area-heading p {
    font-size: 23px;
    font-family: "Playfair Display";
    color: #181818;
    text-align: justify;
    line-height: 1.6;
    margin: 0 0 20px;
  }

  .homeAbout-sec {
    background: url("IMG/media/background_02-1.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 100px 0;
    margin-top: 200px;
  }

  .homeAbout-heading h2 {
    position: relative;
    font-size: 45px;
    z-index: 1;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .col-md-4 {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
  }

  .text-right {
    margin: 0 0 30px;
    text-align: right;
  }

  .text-banner h2 {
    color: #8c7156;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Bellefair";
    font-weight: 400;
  }

  .text-right-btn__main__page {
    background: #1a243f;
    padding: 11px 17px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
  }

  .breadcrumbs__container {
    background: #1a243f;
  }

  .practice-sec {
    position: relative;
    padding-top: 100px;
    margin-top: 16px;
  }

  .practice-list {
    padding-top: 140px;
    padding-left: 12%;
    width: 100%;
    padding-right: 125px;
  }

  .practice-list h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-family: "Bellefair";
  }

  .practice-sec-text {
    text-align: left;
    padding-top: 125px;
    background: #fff;
    padding: 170px 50px 70px 0;
    position: relative;
    z-index: 2;
    width: 60%;
    padding-left: 5%;
  }

  .practice-sec-xicon {
    left: 0;
    right: auto;
    position: absolute;
    top: 0px;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  /* ///////////////////// ? */

  .owl-dots-divorce {
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .owl-slide-divorce {
    display: none;
    transition: opacity 1.8s;
    height: 290px;
  }

  .textImg-sec {
    position: relative;
    text-align: left;
    padding: 100px 0;
  }

  .text-left {
    padding-left: 5% !important;
    width: 60%;
  }

  .xicon-text-left {
    position: absolute;
    top: 0px;
    right: 0;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  .img-box-culture {
    width: 61.8%;
    margin-left: -100px;
    margin-top: -100px;
  }
}
