@media (max-width: 465px) {
  .footer__wrapper {
    min-height: 600px;
  }

  .nav__logo__text__bottom {
    display: none;
  }

  .nav__container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: right 0.3s ease 0s;
    right: -100%;
    overflow: auto;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav__container.__active {
    right: 0;
  }

  .nav__container li {
    padding: 20px;
  }

  .container__flex {
    display: none !important;
  }

  .link__style__tg.__active {
    display: block;
    z-index: 4;
  }

  .main__page__kalenskiy {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
  }

  .main__page__kalenskiy__family {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__page__right__side__photo {
    width: 340px;
  }
  .main__page__left__side__photo__family {
    width: 340px;
  }

  .main__page__left__side {
    margin-bottom: 52px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__page__left__side__heading {
    text-align: center;
  }

  .box__wrapper {
    height: 407px;
    width: 339px;
    padding: 30px 56px;
    margin-top: -70px;
    margin-left: 1px;
  }

  .fa-facebook {
    width: 75px !important;
  }

  .fa-twitter {
    width: 75px !important;
  }
  .fa-instagram {
    width: 75px !important;
  }
  .fa-telegram {
    width: 75px !important;
  }

  .main__page__services__cantainer {
    margin-top: 352px;
    text-align: center;
  }

  .main__page__services__wrapper {
    flex-basis: 100%;
    padding: 0 8px;
    margin-bottom: 52px;
    margin-top: 36px;
  }

  @media (min-width: 390px) {
    .footer__text__right {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .footer__text__right li {
      padding-right: 10px;
    }

    .col-md-4 {
      margin-top: 17px;
    }

    .flex__footer .footer__text__left li {
      margin: 0 80px 5px 0;
      list-style: none;
    }
  }

  .flex__footer {
    display: flex;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Montserrat", sans-serif;
    flex-wrap: wrap;
  }

  .footer__text {
    color: white;
    line-height: 30px;
    color: #f0f3fb;
    font-weight: normal;
    font-size: 24px;
    margin: 40px;
    font-family: "Montserrat", sans-serif;
  }

  .flex__footer .footer__text__left li {
    margin-bottom: 5px;
    list-style: none;
  }

  .footer__text__right li {
    margin-bottom: 20px;
    list-style: none;
    padding-right: 10px;
  }

  .family__text {
    padding: 0px 8px 0px 8px;
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .family__text h4 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    font-family: "Lato";
    margin-bottom: 30px;
    text-align: left;
  }

  .family__text p {
    font-size: 16px;
    color: #181818;
    margin-bottom: 30px;
    font-family: "Lato";
  }

  .family__text p,
  li {
    font-size: 16px;
    font-family: "Lato";
    text-align: justify;
  }

  .heading__text__family {
    letter-spacing: 0;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: "Bellefair";
    color: #1a243f;
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    max-width: 568px;
  }

  .heading__text__family.hidden {
    opacity: 0;
  }

  .heading__more__family {
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .discount__family {
    display: flex;
    justify-content: center;
  }

  .discount__family__img {
    width: 370px;
  }

  .discount__zsy {
    margin-top: 20px;
    margin-left: 10px;
    position: absolute;
    color: white;
    font-size: 34px;
  }

  .btn__main__page__discount {
    margin-top: 80px;
    margin-left: 14px;
    background: #8c7156;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
  }

  /* // 

  BURGER MENU 

  //  */

  body.__lock {
    overflow: hidden;
  }

  .small__btns {
    height: 40px;
    background-color: #8c7156;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
  }
  .small__btn {
    stroke: #fff;
  }

  .line {
    border: none; /* Remove the default horizontal line */
    width: 1px; /* Set the desired width of the vertical line */
    height: 20px; /* Set the desired height of the vertical line */
    background-color: #a6a6a6; /* Set the color of the vertical line */
    margin: 0 10px; /* Adjust the margin to control the spacing between elements */
    /* transform: rotate(90deg); */
  }

  .women__child {
    display: none;
  }

  .women__child__small {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .women__child__text h4 {
    color: #1a243f;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-size: 36px;
    font-family: "Bellefair";
  }

  .welcome-sec {
    margin-top: 93px;
    position: relative;
  }

  .women__child__box__img {
    /* width: 61.8%; */
    width: 100%;
    display: flex;
    /* height: 350px; */
  }

  .women__child__box {
    display: flex;
    padding: 0 8px;
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }

  .discount__family {
    position: relative;
    width: 568px;
    height: 238px;
  }

  .women__child__text {
    background: #fff;
    padding: 110px 25px 110px 25px;
    position: relative;
    z-index: 2;
    width: 100%;
  }

  .women__child__text h4 {
    color: #1a243f;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-size: 36px;
    font-family: "Bellefair";
    text-align: center;
  }

  .women__child__text p {
    text-align: justify;
    width: 100%;
  }

  .practice-area {
    position: relative;
    padding-top: 0;
    margin-top: 100px;
  }

  .practice-box {
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
  }

  .box-row h2 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Bellefair";
  }

  .box-col-content {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .icon-row {
    display: flex;
    width: calc(100% - 1.8em);
    margin-left: 1.8em;
    align-items: center;
    gap: 20px;
    background: #353535;
    margin-top: -60px;
    position: absolute;
  }

  .icon-row span a {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    font-family: "Bellefair";
    font-size: 20px;
  }

  .xicon-top {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    position: relative;
  }

  .default_btn {
    position: relative;
    right: 0;
    top: auto;
    margin-top: 30px;
  }

  .default_btn_top a {
    padding-left: 50px !important;
    letter-spacing: 1px !important;
    font-size: 14px !important;
  }

  .default_btn_top a::before {
    width: 16% !important;
    top: 6px !important;
  }

  .container-cases {
    max-width: 1252px;
    width: 100%;
    margin: auto;
    padding: 0px 8px 0px 8px;
    text-align: center;
  }

  .container-cases-row-heading h4 {
    color: #353535;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 20px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .container-cases-row-call {
    display: flex;
    margin: 0 0 30px;
    width: max-content;
    margin: auto;
  }

  .sec-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .sec-row-text {
    background: none;
    padding-bottom: 0;
    padding-right: 0;
    width: 100%;
    padding-left: 0%;
    padding-top: 70px;
    position: relative;
    z-index: 2;
    text-align: center;
  }

  .testimonial_box {
    text-align: right;
    border-top: 0;
    padding: 100px 40px 100px 40px;
    position: relative;
    background: #fff;
  }

  .sec-row-counter-box {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #121212;
    display: flex;
    align-items: center;
  }

  .xicon-bot {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    position: relative;
  }

  .owl-carousel {
    position: relative;
    text-align: right;
    width: 100%;
    z-index: 1;
  }

  .owl-carousel-container {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .client-id p {
    text-align: center;
  }

  .carousel-container-text {
    font-family: "Lato";
    color: #1a243f;
    margin: 0 auto 40px;
    font-size: 16px;
    max-width: 95%;
    font-weight: normal;
    position: relative;
    text-align: justify;
    line-height: 1.6;
  }

  .owl-dots {
    text-align: center;
    margin: 30px 0 0;
  }

  .owl-dots label {
    padding: 5px;
    cursor: pointer;
    display: inline-flex;
  }

  .owl-dots button {
    height: 3px;
    width: 30px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: opacity 1.8s;
    display: inline-block;
  }

  .owl-slide {
    text-align: center;
  }

  .visible {
    display: block;
  }

  .contact-sec {
    position: relative;
  }

  .contact-img-box {
    height: 549px;
    margin-left: 0;
    margin-top: 0;
    display: flex;
  }

  .contact-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
  }

  .contact-img-text {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  .inquiries_form {
    padding: 80px 50px 50px;
    margin: 0;
    position: relative;
    background: #fff;
    text-align: left;
  }

  .contact-xicon {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    position: relative;
  }

  .contact-area-heading {
    margin: 0 0 30px;
  }

  .h5 {
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }

  .contact-area-heading p {
    font-size: 23px;
    font-family: "Playfair Display";
    color: #181818;
    text-align: center;
    line-height: 1.6;
    margin: 0 0 20px;
  }

  .homeAbout-sec {
    background: url("IMG/media/background_02-1.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 100px 0;
  }

  .homeAbout-heading h2 {
    position: relative;
    font-size: 35px;
    z-index: 1;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .default_btn_homeAbout a {
    padding-right: 35px !important;
    padding-left: 35px !important;
  }

  .default_btn_homeAbout a::before {
    max-width: 40px !important;
    width: 10% !important;
  }

  .default_btn_homeAbout a::after {
    max-width: 40px !important;
    width: 10% !important;
  }

  .col-md-4 {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
  }

  .footer__text__right {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* /////// DIVORCE //////// */

  .text-right {
    margin: 0 0 30px;
    text-align: center;
  }

  .text-banner h2 {
    color: #8c7156;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Bellefair";
    font-weight: 400;
  }

  .text-right-btn__main__page {
    background: #1a243f;
    padding: 11px 17px;
    color: #fff;
    text-transform: uppercase;
  }

  .breadcrumbs__container {
    background: #1a243f;
    display: flex;
    align-items: center;
  }

  .breadcrumbs__container__main {
    display: flex;
    align-items: center;
  }

  .practice-sec {
    position: relative;
    padding-top: 100px;
    margin-top: 16px;
  }

  .practice-list {
    padding-top: 80px;
    padding-left: 6%;
    width: 100%;
    padding-right: 6%;
  }

  .practice-list h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-family: "Bellefair";
  }

  .practice-sec-xicon {
    left: 0;
    right: auto;
    position: absolute;
    top: 0px;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  /* ///////////////////// ? */

  .owl-dots-divorce {
    display: flex;
    margin-top: 130px;
    margin-bottom: 60px;
  }

  .owl-slide-divorce {
    display: none;
    transition: opacity 1.8s;
    height: 290px;
  }

  .textImg-sec {
    position: relative;
    text-align: left;
  }

  .practicewrap {
    width: 100% !important;
  }

  .practice-sec-text {
    text-align: justify;
    padding-top: 125px;
    background: #fff;
    padding: 170px 20px;
    position: relative;
    z-index: 2;
    width: 100%;
    padding-left: 5%;
  }

  .practice-sec-xicon {
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    position: relative;
    top: 0px;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  .practice-sec-heading {
    margin: 0 0 30px;
    font-family: "Lato";
    font-weight: normal;
    color: #181818;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  .controlers-container {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .text-left {
    padding: 170px 50px !;
  }

  .smaller {
    display: flex;
    flex-direction: column-reverse;
  }

  .xicon-text-left {
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    position: relative;
    top: 0px;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  .textImg-sec {
    position: relative;
    text-align: left;
  }

  .block {
    display: block;
  }
}
