@media (min-width: 795px) and (max-width: 945px) {
  .nav__container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: right 0.3s ease 0s;
    right: -100%;
    overflow: auto;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav__container.__active {
    right: 0;
  }

  .nav__container li {
    padding: 20px;
  }

  .main__page__photo {
    margin-top: 40px;
  }

  .link__style__tg.__active {
    display: block;
    z-index: 4;
  }

  .main__page__kalenskiy {
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
  }

  .main__page__kalenskiy__family {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__page__right__side__photo {
    width: 540px;
  }
  .main__page__left__side__photo__family {
    width: 540px;
  }

  .main__page__left__side {
    margin-bottom: 52px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .discount__family {
    display: flex;
    justify-content: center;
  }

  .box__wrapper {
    height: 284px;
    width: 539px;
    padding: 30px 56px;
    margin-top: -70px;
    margin-left: 1px;
  }

  .main__page__services__cantainer {
    margin-top: 252px;
  }

  .main__page__services__wrapper {
    flex-basis: 100%;
    padding: 0 8px;
    margin-bottom: 52px;
  }

  .flex__footer {
    display: flex;
    color: white;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
  }

  .footer__text {
    color: white;
    line-height: 30px;
    color: #f0f3fb;
    font-weight: normal;
    font-size: 24px;
    margin: 40px;
    font-family: "Montserrat", sans-serif;
  }

  .flex__footer .footer__text__left li {
    margin: 0 60px 5px 0;
    list-style: none;
  }

  .footer__text__right li {
    margin-bottom: 20px;
    list-style: none;
  }

  .family__text {
    padding: 0px 8px 0px 8px;
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    margin-bottom: 200px;
    text-align: justify;
  }

  .family__text h4 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    font-family: "Lato";
    margin-bottom: 30px;
  }

  .family__text p {
    font-size: 16px;
    color: #181818;
    margin-bottom: 30px;
    font-family: "Lato";
  }

  .family__text p,
  li {
    font-size: 16px;
    font-family: "Lato";
  }

  .heading__text__family {
    letter-spacing: 0;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: "Bellefair";
    color: #1a243f;
    text-transform: uppercase;
    font-size: 50px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    max-width: 568px;
  }

  .heading__text__family.hidden {
    opacity: 0;
  }

  .heading__more__family {
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .discount__zsy {
    margin-top: 60px;
    margin-left: 24px;
    position: absolute;
    color: white;
    font-size: 40px;
  }

  .btn__main__page__discount {
    margin-top: 120px;
    margin-left: 42px;
    background: #8c7156;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
  }

  /* // 

  BURGER MENU 

  //  */

  /* .menu__icon {
    display: none;
    visibility: hidden;
  } */

  body.__lock {
    overflow: hidden;
  }

  .small__btns {
    display: none;
  }

  .women__child {
    display: none;
  }

  .women__child__box {
    max-width: 1252px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8px;
  }

  .women__child__small {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .women__child__text h4 {
    color: #1a243f;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-size: 36px;
    font-family: "Bellefair";
  }

  .welcome-sec {
    margin-top: 193px;
    position: relative;
  }

  .women__child__box__img {
    width: 90%;
    display: flex;
    margin-left: -100px;
  }

  .discount__family {
    position: relative;
    width: 568px;
    height: 238px;
  }

  .women__child__text {
    background: #fff;
    padding: 110px 50px 110px 0;
    position: relative;
    z-index: 2;
    width: 70%;
    padding-left: 5%;
  }

  .women__child__text h4 {
    color: #1a243f;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-size: 36px;
    font-family: "Bellefair";
    text-align: center;
  }

  .women__child__text p {
    text-align: justify;
    width: 100%;
  }

  .practice-area {
    position: relative;
    padding-top: 0;
    margin-top: 100px;
  }

  .practice-box {
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
  }

  .box-row h2 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Bellefair";
  }

  .box-col-content {
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 15px;
  }

  .icon-row {
    display: flex;
    width: calc(100% - 1.8em);
    margin-left: 1.8em;
    align-items: center;
    gap: 20px;
    background: #353535;
    margin-top: -60px;
    position: absolute;
  }

  .icon-row span a {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    font-family: "Bellefair";
    font-size: 23px;
  }

  .xicon-top {
    z-index: 1;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
  }

  .default_btn {
    position: relative;
    right: 0;
    top: auto;
    margin-top: 30px;
  }

  .container-cases {
    max-width: 1252px;
    width: 100%;
    margin: auto;
    padding: 0px 8px 0px 8px;
    text-align: center;
  }

  .container-cases-row-heading h4 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 20px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .container-cases-row-call {
    display: flex;
    margin: 0 0 30px;
    width: max-content;
    margin: auto;
  }

  .sec-row-text {
    background: none;
    padding-bottom: 0;
    padding-right: 0;
    width: 100%;
    padding-left: 0%;
    padding-top: 70px;
    position: relative;
    z-index: 2;
    text-align: center;
  }

  .testimonial_box {
    text-align: right;
    border-top: 0;
    padding: 100px 40px 100px 40px;
    position: relative;
    background: #fff;
  }

  .sec-row-counter-box {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #121212;
    display: flex;
    align-items: center;
  }

  .xicon-bot {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    position: relative;
  }

  .owl-carousel {
    position: relative;
    text-align: right;
    width: 100%;
    z-index: 1;
  }

  .owl-carousel-container {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .client-id p {
    text-align: center;
  }

  .carousel-container-text {
    font-family: "Lato";
    color: #1a243f;
    margin: 0 auto 40px;
    font-size: 16px;
    max-width: 95%;
    font-weight: normal;
    position: relative;
    text-align: justify;
    line-height: 1.6;
  }

  .owl-dots {
    text-align: center;
    margin: 30px 0 0;
  }

  .owl-dots label {
    padding: 5px;
    cursor: pointer;
    display: inline-flex;
  }

  .owl-dots button {
    height: 3px;
    width: 30px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: opacity 1.8s;
    display: inline-block;
  }

  .owl-slide {
    text-align: center;
  }

  .visible {
    display: block;
  }

  .contact-sec {
    display: block;
    position: relative;
  }

  .contact-img-box {
    height: 549px;
    margin-left: 0;
    margin-top: 0;
    display: flex;
  }

  .contact-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
  }

  .contact-img-text {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  .inquiries_form {
    padding: 80px 50px 50px;
    margin: 0;
    position: relative;
    background: #fff;
    text-align: left;
  }

  .contact-xicon {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    position: relative;
  }

  .contact-area-heading {
    margin: 0 0 30px;
  }

  .h5 {
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
  }

  .contact-area-heading p {
    font-size: 23px;
    font-family: "Playfair Display";
    color: #181818;
    text-align: justify;
    line-height: 1.6;
    margin: 0 0 20px;
  }

  .homeAbout-sec {
    background: url("IMG/media/background_02-1.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 100px 0;
    margin-top: 100px;
  }

  .homeAbout-heading h2 {
    position: relative;
    font-size: 45px;
    z-index: 1;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .col-md-4 {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
  }

  /* /////// DIVORCE //////// */

  .text-right {
    margin: 0 0 30px;
    text-align: center;
  }

  .text-banner h2 {
    color: #8c7156;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Bellefair";
    font-weight: 400;
  }

  .text-right-btn__main__page {
    background: #1a243f;
    padding: 11px 17px;
    color: #fff;
    text-transform: uppercase;
  }

  .breadcrumbs__container {
    background: #1a243f;
    display: flex;
    align-items: center;
  }

  .breadcrumbs__container__main {
    display: flex;
    align-items: center;
  }

  .practice-list {
    padding-top: 140px;
    padding-left: 12%;
    width: 100%;
    padding-right: 125px;
  }

  .practice-list h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-family: "Bellefair";
  }

  .practice-sec-xicon {
    left: 0;
    right: auto;
    position: absolute;
    top: 0px;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  /* ///////////////////// ? */

  .owl-dots-divorce {
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .owl-slide-divorce {
    display: none;
    transition: opacity 1.8s;
    height: 290px;
  }

  .textImg-sec {
    position: relative;
    text-align: left;
  }

  .practicewrap {
    width: 100% !important;
  }

  .practice-sec-text {
    text-align: justify;
    padding-top: 125px;
    background: #fff;
    padding: 170px 20px;
    position: relative;
    z-index: 2;
    width: 100%;
    padding-left: 5%;
  }

  .practice-sec-xicon {
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    position: relative;
    top: 0px;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  .practice-sec-heading {
    margin: 0 0 30px;
    font-family: "Lato";
    font-weight: normal;
    color: #181818;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  .controlers-container {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .text-left {
    padding: 170px 40px !important;
  }

  .smaller {
    display: flex;
    flex-direction: column-reverse;
  }

  .xicon-text-left {
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    position: relative;
    top: 0px;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  .textImg-sec {
    position: relative;
    text-align: left;
  }

  .block {
    display: block;
  }
}
