@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inter&family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url(normalize.css);
@import url(1245.css);
@import url(945.css);
@import url(795.css);
@import url(465.css);

@media (min-width: 1245px) {
  * {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #e5e5e5;
  }

  .nav__wrapper {
    display: flex;
    justify-content: center;
    background-color: #272727;
    /* height: 90px; */
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }

  .footer__wrapper {
    background-color: #272727;
    height: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav__logo__container {
    display: flex;
    align-items: center;
  }

  .nav__logo {
    height: 100px;
  }

  .nav__logo__text {
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
  }

  .nav__logo__text__bottom {
    color: #b3b3b3;
  }

  .nav__container {
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
  }

  .nav__container li {
    list-style: none;
  }

  .nav__link {
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    padding-right: 10px;
    text-decoration: none;
  }

  .nav__logo__text__top {
    color: #b3b3b3;
    margin-left: 10px;
  }

  .container__flex {
    display: flex;
    align-items: center;
  }

  .container {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
  }

  .main__page__photo {
    background-image: url(IMG/main_photo.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 10%;
    background-size: cover;
    z-index: -1;
    margin-top: 40px;
  }

  .phone {
    margin-left: 20px;
  }

  .link__style {
    text-decoration: none;
    color: #b3b3b3;
  }

  .link__style__tg {
    text-decoration: none;
    position: absolute;
    display: none;
  }

  .link__style__none {
    color: #181818;
    text-decoration: none;
  }

  .main__page__kalenskiy {
    max-width: 1252px;
    display: flex;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .main__page__kalenskiy__family {
    max-width: 1252px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .main__page__right__side__photo {
    width: 540px;
  }
  .main__page__left__side__photo__family {
    width: 540px;
  }

  .main__page__left__side {
    /* margin-right: 100px; */
    padding: 0 8px;
  }

  .main__page__right__side__family {
    margin-left: 110px;
    padding-right: 8px;
  }

  .main__page__left__side__article {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2a2c32;
  }

  .main__page__left__side__heading {
    font-family: "Xolonium", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #2a2c32;
    padding-top: 15px;
  }

  .main__page__left__side__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    max-width: 447px;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 26px;
    color: #55565b;
    padding-top: 40px;
  }

  .box__wrapper {
    background-color: #8c7156;
    height: 284px;
    width: 477px;
    position: absolute;
    padding: 30px 56px;
    margin-top: -130px;
    margin-left: -230px;
  }

  .box__text {
    font-style: italic;
    font-weight: 600;
    color: #fff;
    line-height: 30px;
    margin-bottom: 31px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }
  .box__heading {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-top: 3px solid rgba(198, 198, 206, 0.2);
    padding-top: 26px;
    text-align: right;
    font-family: "Open Sans", sans-serif;
  }

  .fa-facebook:hover {
    background: #3b5998;
  }
  .fa-twitter:hover {
    background: #55acee;
  }
  .fa-instagram:hover {
    background: #e95950;
  }
  .fa-telegram:hover {
    background: #0088cc;
  }

  .fa-facebook {
    background: #313638;
    color: white;
    cursor: pointer;
    border: none;
    width: 90px;
    height: 56px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }

  .fa-twitter {
    background: #313638;
    color: white;
    cursor: pointer;
    width: 90px;
    height: 56px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }
  .fa-instagram {
    background: #313638;
    color: white;
    cursor: pointer;
    border: none;
    width: 90px;
    height: 56px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }
  .fa-telegram {
    background: #313638;
    color: white;
    cursor: pointer;
    border: none;
    width: 90px;
    height: 56px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }

  .main__page__services__cantainer {
    display: flex;
    margin-top: 200px;
    margin-bottom: 184px;
    max-width: 1252px;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }

  .main__page__services__wrapper {
    /* max-width: 490px; */
    flex-basis: 60%;
    padding: 0 8px;
  }

  .main__page__services {
    font-family: "Xolonium", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #2a2c32;
  }

  .main__page__services__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    max-width: 516px;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 26px;
    color: #55565b;
  }

  .btn__main__page {
    background: #2a2c32;
    border: none;
    padding: 11px;
    max-width: 280px;
    height: auto;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  .btn__more {
    background: none;
    padding-left: 70px;
    color: #8c7156;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Lato";
    transition: 0.4s 0.3s ease-in-out;
    font-weight: 500;
    position: relative;
    margin-bottom: 7px;
  }

  .btn__more::before {
    position: absolute;
    content: "";
    max-width: 60px;
    width: 100%;
    height: 2px;
    left: 0;
    top: 8px;
    background: #8c7156;
    display: block;
    pointer-events: none;
    transform-origin: right;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
  }

  .btn__more:hover::before {
    width: 0;
  }

  .main__page__services__block {
    flex-basis: 20%;
    padding: 0 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.45;
    font-weight: 400;
    color: #55565b;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .main__page__services__link {
    background: #fff;
    box-shadow: 0 6px 13px -5px #313638;
    border: 1px solid transparent;
    margin-bottom: 16px;
    height: 253px;
    width: 100%;
    position: relative;
    padding: 23px 23px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: 0.5s linear;
  }
  .main__page__services__link:hover {
    box-shadow: none;
  }

  .main__page__services__link h4 {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #2a2c32;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
  }

  .svg__img {
    filter: grayscale(100%) contrast(1000%);
  }

  .span__number {
    color: #b3b3b3;
  }

  .main__page__right__side {
    padding: 0 8px;
  }

  .main__page__left__side__family {
    padding: 0 8px;
  }

  /* BUTTONS */

  .button__head {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
  }

  .button__head:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }

  .button__head:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .button__head span {
    display: block;
    margin-left: 0.4em;
  }

  .button__head svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: 0.5s ease-in-out;
  }

  .button__head .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
  }

  .button__head:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .button__head:hover svg {
    transform: rotate(45deg);
  }

  /* BUTTONS */
  .footer__wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .flex__footer {
    display: flex;
    color: white;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
  }

  .footer__text {
    color: white;
    line-height: 30px;
    color: #f0f3fb;
    font-weight: normal;
    font-size: 24px;
    margin: 40px;
    font-family: "Montserrat", sans-serif;
  }

  .flex__footer .footer__text__left li {
    margin: 0 60px 5px 0;
    list-style: none;
  }

  .footer__text__right li {
    margin-bottom: 20px;
    list-style: none;
  }

  .breadcrumbs {
    list-style: none;
    padding: 25px 8px 25px 8px;
    max-width: 1252px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .breadcrumbs__row {
    color: #fff;
  }

  .breadcrumbs__row__main {
    color: #a6a6a6;
  }

  .btn__text {
    font-family: "Montserrat", sans-serif;
  }

  .family__text {
    padding: 0px 8px 0px 8px;
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    margin-bottom: 200px;
  }

  .family__text h4 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    font-family: "Lato";
    margin-bottom: 30px;
  }

  .family__text p {
    font-size: 16px;
    color: #181818;
    margin-bottom: 30px;
    font-family: "Lato";
  }

  .family__text p,
  li {
    font-size: 16px;
    font-family: "Lato";
  }

  .heading__text__family {
    letter-spacing: 0;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: "Playfair Display";
    color: #1a243f;
    text-transform: uppercase;
    font-size: 50px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    width: 568px;
  }

  .heading__text__family.hidden {
    opacity: 0;
  }

  .heading__more__family {
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 568px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }

  .btn__main__page:hover {
    background-color: #8c7156;
  }

  .discount__zsy {
    margin-top: 60px;
    margin-left: 24px;
    position: absolute;
    color: white;
    font-size: 40px;
  }

  .btn__main__page__discount {
    margin-top: 120px;
    margin-left: 42px;
    background: #8c7156;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
  }

  .menu__icon {
    display: none;
    visibility: hidden;
  }

  .small__btns {
    display: none;
  }

  .welcome-sec {
    margin-top: -3px;
    position: relative;
  }

  .women__child__box__img {
    /* width: 61.8%; */
    display: flex;
    margin-left: -100px;
    margin-top: -100px;
  }

  .women__child__box {
    display: flex;
    padding: 0 8px;
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
  }

  .discount__family {
    position: relative;
    width: 568px;
    height: 238px;
  }

  .discount__container {
    position: relative;
    width: 568px;
    height: 238px;
  }

  .women__child {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .women__child__text {
    background: #fff;
    padding: 110px 50px 110px 0;
    position: relative;
    z-index: 2;
    width: 70%;
    padding-left: 5%;
  }

  .women__child__text h4 {
    color: #1a243f;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-size: 36px;
    font-family: "Playfair Display";
    text-align: center;
  }

  .women__child__text p {
    text-align: justify;
    width: 100%;
  }

  .practice-area {
    position: relative;
    padding-top: 0;
    margin-top: 200px;
  }

  .practice-box {
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
  }

  .box-row {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 8px;
    position: relative;
  }

  .box-row p {
    margin: 0 0 20px;
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .box-row h2 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .box-row span {
    font-size: 16px;
    color: #181818;
    font-family: "Lato";
    margin: 0 0 30px;
  }

  .box-col {
    display: flex;
    flex-wrap: wrap;
    max-width: 1252px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .box-col-content {
    width: 33.3333333333%;
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 15px;
  }

  .icon-row {
    display: flex;
    width: calc(100% - 1.8em);
    margin-left: 1.8em;
    align-items: center;
    gap: 20px;
    background: #353535;
    margin-top: -60px;
    position: absolute;
  }

  .icon-row span a {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    font-family: "Playfair Display";
    font-size: 23px;
  }

  .xicon {
    width: 60px;
    height: 60px;
    z-index: 1;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    justify-content: center;
  }

  .xicon-top {
    z-index: 1;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
  }

  .icons {
    color: #fff;
    font-size: 30px;
  }

  .icons-top {
    color: #fff;
    font-size: 60px;
  }

  .img-box {
    position: relative;
  }

  .img-box::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #1a243f;
    opacity: 0.2;
  }

  .img-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .bottom-content {
    position: relative;
    background: #353535;
    padding: 0;
  }

  .bottom-content p {
    padding: 30px 30px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    margin: 0 0 30px;
    font-family: "Lato";
  }

  .content:hover {
    box-shadow: 0 6px 13px -5px #313638;
    transition: all 0.3s ease-in-out;
  }

  .default_btn {
    right: 14px;
    top: 70px;
    position: absolute;
  }

  .default_btn_top {
    margin-top: 20px;
  }

  .default_btn_top a {
    background: none;
    padding-left: 70px;
    color: #8c7156;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Lato";
    transition: 0.4s 0.3s ease-in-out;
    font-weight: 500;
    position: relative;
  }

  .default_btn_top a::before {
    position: absolute;
    content: "";
    max-width: 60px;
    width: 100%;
    height: 2px;
    left: 0;
    top: 8px;
    background: #8c7156;
    display: block;
    pointer-events: none;
    transform-origin: right;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
  }

  .default_btn a {
    background: none;
    padding-left: 70px;
    color: #8c7156;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Lato";
    transition: 0.4s 0.3s ease-in-out;
    font-weight: 500;
    position: relative;
  }

  .default_btn a::before {
    position: absolute;
    content: "";
    max-width: 60px;
    width: 100%;
    height: 2px;
    left: 0;
    top: 8px;
    background: #8c7156;
    display: block;
    pointer-events: none;
    transform-origin: right;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
  }

  .default_btn a:hover:before {
    width: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .women__child__small {
    display: none;
  }
  /* // */

  .container-cases {
    max-width: 1252px;
    width: 100%;
    margin: auto;
    padding: 0px 8px 0px 8px;
  }

  .container-cases-row-heading p {
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .container-cases-row-heading h4 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 20px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .container-cases-row-call {
    display: flex;
    margin: 0 0 30px;
    width: max-content;
  }

  .pe-7s-call {
    color: #ffffff;
    padding: 0.7em 0.8em;
    box-shadow: 0 0 0 3em #8c7156 inset;
    background-color: transparent;
    font-size: 30px;
  }

  .container-cases-row-call a {
    color: #353535;
    box-shadow: 0 0 0 1px #8c7156 inset;
    padding: 1.7em 1.7em;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }

  .container-cases-row-call a:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 3em #8c7156 inset;
  }

  .sec-row {
    display: flex;
  }

  .sec-row-text {
    background: none;
    padding-bottom: 0;
    padding-right: 0;
    width: 55%;
    padding-left: 0%;
    padding-top: 170px;
    position: relative;
    z-index: 2;
    text-align: right;
  }

  .testimonial_box {
    text-align: right;
    border-top: 0;
    padding: 150px 0px 100px 0;
    position: relative;
    background: #fff;
    padding-left: 10%;
  }

  .sec-row-counter-box {
    background: #121212;
    width: 55%;
    display: flex;
    margin-left: -100px;
    margin-top: 0px;
    align-items: center;
    padding-left: 100px;
  }

  .xicon-bot {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0;
  }

  .xicon-bot img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .loader {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 30px;
  }

  .loader .num-box:nth-child(1) {
    width: 50%;
    padding: 30px;
    text-align: center;
    font-size: 48px;
    color: #8c7156;
    border-bottom: 1px solid #f1f2f5;
    border-right: 1px solid #f1f2f5;
  }

  .loader .num-box:nth-child(2) {
    width: 50%;
    padding: 30px;
    text-align: center;
    font-size: 48px;
    color: #8c7156;
    border-bottom: 1px solid #f1f2f5;
  }

  .loader .num-box:nth-child(3) {
    width: 50%;
    padding: 30px;
    text-align: center;
    font-size: 48px;
    color: #8c7156;
    border-right: 1px solid #f1f2f5;
  }

  .loader .num-box:nth-child(4) {
    width: 50%;
    padding: 30px;
    text-align: center;
    font-size: 48px;
    color: #8c7156;
  }

  .num-box-icon span {
    color: #8c7156;
    font-size: 70px;
  }

  .loader .num-box p {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-family: "Playfair Display";
  }

  .count {
    font-size: 48px;
    line-height: 50px;
    color: #fff;
    font-family: "Playfair Display";
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  .owl-carousel {
    text-align: right;
    width: 100%;
    z-index: 1;
  }

  .owl-carousel-container {
    padding-left: 50px;
    padding-right: 20px;
    position: relative;
  }

  .owl-carousel-container span {
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .owl-carousel-container h4 {
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .client-id p {
    text-align: right;
  }

  .carousel-container-text {
    font-family: "Lato";
    color: #1a243f;
    margin: 0 auto 40px;
    font-size: 16px;
    width: 100%;
    font-weight: normal;
    position: relative;
    text-align: justify;
    line-height: 1.6;
  }

  .owl-dots {
    position: absolute;
    top: 15%;
    left: 0%;
    margin: 30px 0 0;
  }

  .owl-dots label {
    padding: 5px;
    cursor: pointer;
    display: flex;
  }

  .owl-dots button {
    height: 30px;
    width: 3px;
    border-radius: 5px;
    background: #181818;
    display: block;
    color: black;
    border: none;
    cursor: pointer;
    transition: opacity 1.8s;
  }

  .owl-dots button.active {
    background: #8c7156;
  }

  .owl-slide {
    display: none;
    transition: opacity 1.8s;
    height: 290px;
  }

  .contact-sec {
    position: relative;
  }

  .contact-img-box {
    height: 549px;
    margin-left: 0;
    width: 60%;
    margin-top: 0;
    margin-right: -100px;
    display: flex;
  }

  .contact-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
  }

  .contact-img-text {
    position: relative;
    z-index: 2;
    width: 70%;
    padding: 100px 0px 0px 0;
  }

  .inquiries_form {
    padding: 180px 50px 50px;
    margin: 0;
    position: relative;
    background: #fff;
    text-align: left;
  }

  .pe-7s-note {
    font-size: 64px;
    color: #fff;
  }

  .contact-xicon {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
    text-align: left;
  }

  .contact-area-heading {
    margin: 0 0 30px;
  }

  .h5 {
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
  }

  .contact-area-heading p {
    font-size: 23px;
    font-family: "Playfair Display";
    color: #181818;
    text-align: justify;
    line-height: 1.6;
    margin: 0 0 20px;
  }

  .contact-form {
    text-align: left;
  }
  .form-grid {
    grid-column-gap: 2%;
    grid-row-gap: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
  }

  .grid-field {
    grid-column: span 6;
    min-width: 0;
  }

  .grid-field-large {
    grid-column: span 12;
    min-width: 0;
  }

  .gfield-label {
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
  }
  .gfield_required {
    color: #c02b0a;
    display: inline-block;
    font-size: 13.008px;
    padding-left: 0.125em;
  }

  .gfield_required_text {
    font-style: italic;
    font-weight: 400;
    color: #c02b0a;
    font-size: 13.008px;
    padding-left: 0.125em;
  }

  .large {
    width: 100%;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 8px;
    height: 54px;
    color: #181818;
    background: #f2f2f2;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    transition: none;
    margin: 0 0 5px;
  }
  .textarea {
    height: 96px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 8px;
    color: #181818;
    background: #f2f2f2;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    transition: none;
    margin: 0 0 5px;
    display: inline-block;
    resize: none;
  }

  .gform_footer {
    margin: 6px 0 0;
    padding: 16px 0;
    display: flex;
  }

  .gform_button {
    color: #fff;
    box-shadow: 0 0 0 3em #8c7156 inset;
    padding: 1em 2em;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #8c7156;
    width: auto;
    margin: auto;
    align-self: flex-end;
    cursor: pointer;
    &:hover {
      color: black;
      box-shadow: 0 0 0 0em #8c7156 inset;
    }
  }

  .homeAbout-sec {
    background: url("IMG/media/background_02-1.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 100px 0;
    margin-top: 200px;
  }

  .homeAbout-container {
    max-width: 1252px;
    width: 100%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }

  .homeAbout-container::before,
  .homeAbout-container::after {
    display: table;
    content: " ";
  }

  .homeAbout-row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .homeAbout-row::before,
  .homeAbout-row::after {
    display: table;
    content: " ";
  }
  .col-md-12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .sec-wrap {
    max-width: 650px;
    margin: 0 auto;
  }

  .sec-wrap-heading {
    margin: 0 0 30px;
  }

  .fa-graduation-cap {
    display: block;
  }

  .homeAbout-sec .sec-wrap .fa {
    font-size: 70px;
    margin: 0 0 10px;
  }

  .heading-h5 {
    margin: 0 0 40px;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .homeAbout-heading h2 {
    position: relative;
    font-size: 45px;
    z-index: 1;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Playfair Display";
  }

  .homeAbout-heading span {
    display: block;
  }

  .homeAbout-heading h2::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: #8c7156;
    left: 50%;
    top: 0%;
    z-index: -1;
    transform: translate(-50%, -30%);
  }

  .sec-wrap p {
    line-height: 28px;
    font-size: 16px;
    margin: 0 0 30px;
    font-family: "Lato";
  }

  .default_btn_homeAbout a {
    background: none;
    padding-right: 70px;
    color: #8c7156;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Lato";
    transition: 0.4s 0.3s ease-in-out;
    font-weight: 500;
    position: relative;
    padding-left: 70px;
    &:hover {
      &:before {
        width: 0;
      }
      &:after {
        width: 0;
      }
    }
  }

  .default_btn_homeAbout a::before {
    position: absolute;
    content: "";
    max-width: 60px;
    width: 100%;
    height: 2px;
    left: 0;
    top: 10px;
    background: #8c7156;
    display: block;
    pointer-events: none;
    transform-origin: right;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
  }

  .default_btn_homeAbout a::after {
    position: absolute;
    content: "";
    max-width: 60px;
    width: 100%;
    height: 2px;
    right: 0;
    top: 10px;
    background: #8c7156;
    display: block;
    pointer-events: none;
    transform-origin: right;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
  }

  .homeAbout-heading {
    margin: 0 0 30px;
  }

  .homeAbout-row::after {
    clear: both;
  }

  .manual__hide {
    display: none;
    opacity: 0;
    transition: opacity 1s;
  }

  .frm_btn {
    text-align: justify;
    line-height: 1.6;
    padding-top: 20px;
  }

  .xopen {
    background: #1a243f;
    padding: 11px 17px;
    color: #fff;
    text-transform: uppercase;
  }

  .text__content {
    list-style-type: disc;
    line-height: 1.6;
    margin: 10px 0 20px 20px;
  }

  .tel__number {
    text-decoration: none;
    color: #8c7156;
  }

  .col-md-4 {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
  }

  .col-md-4 ul {
    margin: 0 0 20px;
  }

  .col-md-4 ul li {
    margin: 0 0 10px;
    position: relative;
    list-style: none;
  }

  .col-md-4 span {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .col-md-4 .h4 a {
    font-size: 30px;
    font-family: "Bellefair";
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .white__anchor {
    color: #fff;
  }

  .fa-phone,
  .fa-location-arrow {
    color: #8c7156;
  }

  .mapbox p iframe {
    height: 140px;
    width: 100%;
  }

  .text-banner {
    position: relative;
    padding: 170px 0 50px;
  }

  .text-banner-container {
    width: 100%;
    margin: auto;
    padding: 0 8px;
    max-width: 1252px;
  }

  .text-banner-row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .text-banner-col-md-12 {
    width: 100%;
  }

  .text-right {
    margin: 0 0 30px;
    text-align: right;
  }

  .text-banner h2 {
    color: #1a243f;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Bellefair";
    font-weight: 400;
  }

  .text-right-frm_btn {
    padding-top: 20px;
  }

  .text-right-btn__main__page {
    background: #1a243f;
    padding: 11px 17px;
    color: #fff;
    text-transform: uppercase;
  }

  .breadcrumbs__container {
    background: #1a243f;
  }

  .practice-sec {
    position: relative;
    padding-top: 100px;
    margin-top: 16px;
  }

  .text-left ul {
    list-style-type: disc;
    line-height: 1.6;
    text-align: left;
  }

  .text-left ul li {
    padding-left: 20px;
    position: relative;
    list-style-type: none;
  }

  .text-left ul li:before {
    position: absolute;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 15px;
    color: #8c7156;
    left: 0px;
    top: 0px;
    text-decoration: none;
    font-weight: 900;
  }

  .practicewrap {
    margin-right: -100px;
    margin-left: 0;
    margin-top: -100px;
    width: 61.8%;
    display: flex;
    background: #353535;
    height: auto;
  }

  .practice-list {
    padding-top: 140px;
    padding-left: 12%;
    width: 100%;
    padding-right: 125px;
  }

  .practice-list h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-family: "Bellefair";
  }

  .practice-list ul {
    margin-bottom: 30px;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .practice-list ul li {
    position: relative;
    margin: 0 0 10px;
    font-family: "Lato";
    font-weight: normal;
    color: #181818;
    font-size: 16px;
    line-height: 21px;
  }

  .practice-list ul li a {
    border-bottom: 3px solid transparent;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    line-height: 24px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: "Lato";
    font-weight: normal;
    font-size: 16px;
  }

  .practice-list ul li a:before {
    content: "";
    font-family: "Font Awesome 5 Free";
    width: 1em;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
    opacity: 1;
    visibility: visible;
    background: #8c7156;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .practice-list ul li a:after {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    opacity: 1;
    font-size: 14px;
    visibility: hidden;
    color: #8c7156;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    font-weight: 900;
  }

  .practice-sec .practicewrap .practice-list ul li a:hover {
    color: #8c7156;
    border-color: #8c7156;
    padding-left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .practice-sec .practicewrap .practice-list ul li a:hover:before {
    width: 0;
    margin: 0;
  }
  .practice-sec .practicewrap .practice-list ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    margin-left: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .practice-sec-text {
    text-align: left;
    padding-top: 125px;
    background: #fff;
    padding: 170px 50px 70px 0;
    position: relative;
    z-index: 2;
    width: 60%;
    padding-left: 5%;
  }

  .practice-sec-xicon {
    left: 0;
    right: auto;
    position: absolute;
    top: 0px;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  .pe-7s-id {
    color: #fff;
    font-size: 64px;
  }

  .practice-sec-heading {
    margin: 0 0 30px;
    font-family: "Lato";
    font-weight: normal;
    color: #181818;
    font-size: 16px;
    line-height: 21px;
  }

  .practice-sec-heading h1 {
    font-size: 36px;
    color: #1a243f;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-family: "Bellefair";
    text-transform: capitalize;
  }

  .practice-sec-text p {
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
    color: #181818;
    margin: 0 0 30px;
    font-family: "Lato";
  }

  .practice-sec-text h2 {
    text-transform: capitalize;
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.1;
    font-family: "Bellefair";
    text-align: left;
  }

  .practice-sec-text ul {
    list-style-type: disc;
    line-height: 1.6;
    margin: 10px 0 20px 20px;
  }

  .alignnone {
    width: 100%;
    padding: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
  }

  /* ///////////////////// ? */

  .owl-carousel-divorce {
    width: 100%;
    z-index: 1;
  }

  .owl-carousel-container-divorce {
    padding-right: 20px;
    position: relative;
  }

  .owl-carousel-container-divorce span {
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .owl-carousel-container-divorce h4 {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.1;
    font-family: "Playfair Display";
    text-transform: uppercase;
    margin-top: 10px;
  }

  .client-id-divorce p {
    color: #fff;
  }

  .carousel-container-text-divorce {
    font-family: "Lato";
    color: #fff;
    margin: 0 auto 40px;
    font-size: 16px;
    width: 100%;
    font-weight: normal;
    position: relative;
    text-align: justify;
    line-height: 1.6;
  }

  .owl-dots-divorce {
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .owl-dots-divorce label {
    padding: 5px;
    cursor: pointer;
    display: flex;
  }

  .owl-dots-divorce button {
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: #181818;
    display: block;
    color: black;
    border: none;
    cursor: pointer;
    transition: opacity 1.8s;
  }

  .owl-dots-divorce button.active {
    background: #8c7156;
  }

  .owl-slide-divorce {
    display: none;
    transition: opacity 1.8s;
    height: 290px;
  }

  .owl-carousel-divorce-h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 20px;
    padding-top: 40px;
    line-height: 1.1;
    font-family: "Bellefair";
  }

  .visible {
    display: block;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .images {
    width: 150px;
    margin-bottom: 20px;
  }

  .text__borders {
    overflow: hidden;
    width: 100%;
    align-self: start;
    margin-top: 1rem;
  }

  .text__wrapper {
    display: flex;
    flex-direction: row;
    width: 500%;
    transition: 500ms;
  }

  .text {
    width: 20%;
    margin: 0;
    padding: 1px;
  }

  .text p {
    color: #fff;
    font-size: 16px;
    margin: 0 0 30px;
    font-family: "Lato";
  }

  .text h5 {
    color: #8c7156;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .left {
    left: 0px;
  }

  .right {
    left: 50px;
    right: 0;
  }

  .carousel-control {
    top: auto;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ececec;
    width: 30px;
    height: 30px;
    position: absolute;
  }

  .carousel-control .fa {
    color: #fff;
  }

  .controlers-container {
    margin-top: 20px;
  }

  .textImg-sec {
    position: relative;
    text-align: left;
    padding: 100px 0;
  }

  .text-left {
    padding-top: 125px;
    background: #fff;
    padding: 170px 50px 70px 0;
    position: relative;
    z-index: 2;
    width: 60%;
    text-align: right;
    padding-left: 5%;
  }

  .xicon-text-left {
    position: absolute;
    top: 0px;
    right: 0;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    background: #8c7156;
    align-items: center;
  }

  .pe-7s-culture {
    color: #fff;
    font-size: 64px;
  }

  .text-left-bot {
    margin: 0 0 30px;
    text-align: left;
  }

  .img-box-culture {
    width: 61.8%;
    display: flex;
    margin-left: -100px;
    margin-top: -100px;
    text-align: left;
  }

  .img-box-culture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
    border: 0;
  }

  .text-left h2 {
    text-transform: capitalize;
    margin: 0;
    color: #353535;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.1;
    font-family: "Bellefair";
  }

  .text-left p {
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
    color: #181818;
    margin: 0 0 30px;
    font-family: "Lato";
  }

  .text-left a {
    color: #8c7156;
  }
}
